template(name='step_edit')
  header
    .buttons
      button.editor.flow
        i.entypo.flow-tree
        | Flow
      button.editor.dashboard
        i.entypo.line-graph
        | Dashboard
    a.logo

  div.split
    div.sidebar
      div.steps
        div.step.collapsed
          i.entypo.cloud
          span= title
        each steps
          div.draggable.step.collapsed(class=currentClass, data-id=_id)
            i.entypo(class=iconForStep)
            span= title

        {{{plusButton 'add-step' 'plus' 'Process'}}}  
        {{{plusButton 'add-line-chart' 'plus' 'Line chart'}}}
        {{{plusButton 'add-bar-chart' 'plus' 'Bar chart'}}}


    div.left
      +source_code


    div.right
      +source_error
      +source_graph
      +source_table