template(name='source_table')
  if wantsTable
    table.preview
      if is2D
        each dataPreview
          tr
            each this
              td= this

      if is1D
        each dataPreview
          tr
            td= this

      if isObject
        each dataPreviewObject
          tr
            th= key
            td= value

      if isNumber
        tr
          th= dataPreview
