template(name='hack_index')
  .toolbar
    ul
      li.add-source
          i.entypo.shareable
          | Add source
      with selection
        if isSource
          li.group
            i.entypo.layout
            | Group
      with selection
        if isGroupedTable
          li.add-aggregation
            i.entypo.numbered-list
            | Aggregate
      li.add-graph
          i.entypo.line-graph
          | Add graph

  .items
    each tables
      +hack_index_item
    each graphs
      +hack_index_item

  with selection
    +hack_inspector

template(name='hack_modal_source_selector')
  .modal
    .overlay
    .dialog
      .content
        h2.centered Add new data source

        ul.source-selector
          li
            i.entypo.numbered-list
            br
            | CSV
          li
            i.entypo.numbered-list
            br
            | Excel
          li
            i.entypo.database
            br
            | SQL

template(name='hack_index_item')
  div.item(style=itemStyle, data-id=_id, class=itemClass)
    if isSource
      +hack_index_source
    else if isGraph
      +hack_index_graph
    else if isGroupedTable
      +hack_index_grouped_table
    else if isAggregationTable
      +hack_index_aggregation_table

template(name='hack_index_source')
  .item-wrapper
    .handle
      i.entypo.shareable
    .content-wrapper
      if isLoading
        +spinner
      else
        table
          tr
            each columns
              th= title
          each dataPreview
            tr
              each row
                td!= cell

template(name='hack_index_graph')
  .item-wrapper
    .handle
      i.entypo.line-graph
    .content-wrapper

template(name='hack_inspector')  
  if isSource
    +hack_inspector_table
  else if isGraph
    +hack_inspector_graph
  else if isGroupedTable
    +hack_inspector_grouped_table
  else if isAggregationTable
    +hack_inspector_aggregation_table

template(name='hack_inspector_table')
  .inspector
    .header Table options
    form
      table.form
        tr
          td
            label Title
          td
            input.title(value=title)
        tr
          td
            label URL
          td
            input.url(value=url)
        tr
          td
            label Status
          td

    .actions-bottom
      button.delete Delete


template(name='modal')
  .modal
    .overlay
    .dialog
      .content
        h2= title
        p= description
      .actions
        button.primary OK
