template(name='hack_index')
  .toolbar
    ul
      li.add-source
          i.entypo.shareable
          | Add source
      if selection
        li.group
          i.entypo.layout
          | Group
      li.add-graph
          i.entypo.line-graph
          | Add graph

  .items
    each tables
      +hack_index_item
    each graphs
      +hack_index_item

  with selection
    +hack_inspector

template(name='hack_index_item')
  div.item(style=itemStyle, data-id=_id, class=itemClass)
    if isSource
      +hack_index_source
    else if isGraph
      +hack_index_graph
    else if isGroupedTable
      +hack_index_grouped_table

template(name='hack_index_source')
  .item-wrapper
    .handle
      i.entypo.shareable
    .content-wrapper
      if isLoading
        +spinner
      else
        table
          tr
            each columns
              th= this
          each dataPreview
            tr
              each row
                td!= cell

template(name='hack_index_grouped_table')
  .item-wrapper
    .handle.grouped-table
      i.entypo.layout
    .content-wrapper
      | grouped table here

template(name='hack_index_graph')
  .item-wrapper
    .handle
      i.entypo.line-graph
    .content-wrapper

template(name='hack_inspector')  
  if isSource
    +hack_inspector_table
  else if isGraph
    +hack_inspector_graph

template(name='hack_inspector_table')
  .inspector
    .header Table options
    form
      table.form
        tr
          td
            label Title
          td
            input.title(value=title)
        tr
          td
            label URL
          td
            input.url(value=url)
        tr
          td
            label Status
          td

    .actions-bottom
      button.delete Delete

template(name='hack_inspector_graph')
  .inspector
    .header Tables
    form
      table.form
        tr
          td
            label Table
          td
            select.table
              option(value='')
              each tables
                option(value=_id)= title

    .header Graph type

    ul.graph-types
      with 'line'
        li.line(class='{{graphTypeClass ..}}')
          .image
          | Line chart
      with 'bar'
        li.bar(class='{{graphTypeClass ..}}')
          .image
          | Bar chart
      with 'area'
        li.area(class='{{graphTypeClass ..}}')
          .image
          | Area chart
      with 'scatterplot'
        li.scatterplot(class='{{graphTypeClass ..}}')
          .image
          | Scatterplot

    .header Series
    form
      table.form
        tr
          td
            label X
          td
            select.x
              option(value='')
        tr
          td
            label Y
          td
            select.y
              option(value='')
        tr
          td
            label Color
          td
            select.color
              option(value='')

    .actions-bottom
      button.delete Delete

template(name='modal')
  .modal
    .overlay
    .dialog
      .content
        h2= title
        p= description
      .actions
        button.primary OK