template(name='hack_index')
  .toolbar
    ul
      li.add-source
          i.entypo.shareable
          | Add source

  .sources
    each sources
      +hack_index_source

  with selection
    +hack_inspector

template(name='hack_index_source')
  div.source(style=sourceStyle, data-id=_id, class=sourceClass)
    .source-wrapper
      .handle
        i.entypo.shareable
      .table-wrapper
        if isLoading
          +spinner
        else
          table
            tr
              each columns
                th= this
            each dataPreview
              tr
                each row
                  td!= cell


template(name='hack_inspector')
  +hack_inspector_source

template(name='hack_inspector_source')
  .inspector
    .header Source options

    form
      table.form
        tr
          td
            label Title
          td
            input.title(value=title)
        tr
          td
            label URL
          td
            input.url(value=url)
        tr
          td
            label Status
          td

    .actions-bottom
      button.delete Delete

template(name='modal')
  .modal
    .overlay
    .dialog
      h2 Si zabel
      p si zabel
      .actions
        button.primary Zabel
        button Nezabel