template(name='hack_inspector_graph')
  .inspector
    .header Tables
    form
      table.form
        tr
          td
            label Table
          td
            select.table
              option(value='')
              each tables
                option(value=_id)= title

    .header Graph type

    ul.graph-types
      with 'line'
        li.line(class='{{graphTypeClass ..}}')
          .image
          | Line chart
      with 'bar'
        li.bar(class='{{graphTypeClass ..}}')
          .image
          | Bar chart
      with 'area'
        li.area(class='{{graphTypeClass ..}}')
          .image
          | Area chart
      with 'scatterplot'
        li.scatterplot(class='{{graphTypeClass ..}}')
          .image
          | Scatterplot

    .header Series
    form
      table.form
        tr
          td
            label X
          td
            +select collection="Graphs" doc=this field="xColumnIndex" options=columns value="index" label="title" prompt=' '
        tr
          td
            label Y
          td
            +select collection="Graphs" doc=this field="yColumnIndex" options=columns value="index" label="title" prompt=' '

        tr
          td
            label Lower margin
          td
            +select collection="Graphs" doc=this field="y1ColumnIndex" options=columns value="index" label="title" prompt=' '

        tr
          td
            label Upper margin
          td
            +select collection="Graphs" doc=this field="y2ColumnIndex" options=columns value="index" label="title" prompt=' '
      

    .actions-bottom
      button.delete Delete