template(name='table_edit')
  header
    a.logo

  div.split
    div.sidebar
      h4.small Sources

      div.steps
        each sources
          div.step.collapsed(class=currentClass, data-id=_id)
            i.entypo.large.cloud
            span= title
            i.small.delete-source.entypo.circled-cross

      h4.small Processing

      div.steps
        each steps
          div.step.collapsed(class=currentClass, data-id=_id)
            i.large.entypo(class='cog')
            span= title

      h4.small Visualizations


    div.left-right
      h3 Sources

      ul.list
        each allSources
          li
            div.icon
              i.entypo.cloud.large
            small
              = title
            button.add-source Add

      h3 Processing

      ul.list
        +table_edit_add_step step="map" icon="map" label="Map"
        +table_edit_add_step step='reduce' icon='ccw' label='Reduce'
        +table_edit_add_step step='merge' icon='flow-branch' label='Merge'
        +table_edit_add_step step='group' icon='layout' label='Group'

      h3 Visualizations

template(name='table_edit_add_step')
  li
    div.icon
      i.entypo.large(class=icon)
    small= label
    button.add-step Add
