template(name='table_edit')
  header
    a.logo

  div.split
    div.sidebar
      h4.small Sources

      div.steps
        each sources
          div.step.collapsed(class=currentClass, data-id=_id)
            i.entypo.large.cloud
            span= title
            i.small.delete-source.entypo.circled-cross

      h4.small Processing

      div.steps
        each steps
          div.draggable.step.collapsed(class=currentClass, data-id=_id)
            i.entypo(class=iconForStep)
            span= title

      h4.small Visualizations


    div.left-right
      h3 Sources

      ul.list
        each allSources
          li
            div.icon
              i.entypo.cloud.large
            small
              = title
            button.add-source Add

      h3 Processing

      ul.list
        li
          div.icon
            i.entypo.map.large
          small Map
          button.add-step Add
        li
          div.icon
            i.entypo.ccw.large
          small Reduce
          button.add-step Add
        li
          div.icon
            i.entypo.flow-branch.large
          small Merge
          button.add-step Add
        li
          div.icon
            i.entypo.layout.large
          small Group
          button.add-step Add

      h3 Visualizations