template(name='table_edit')
  header
    a.logo

  div.split
    div.sidebar
      h4.small Sources

      div.steps
        each sources
          div.step.collapsed(class=currentClass, data-id=_id)
            i.entypo.cloud
            span= title

      h4.small Processing

      div.steps
        each steps
          div.draggable.step.collapsed(class=currentClass, data-id=_id)
            i.entypo(class=iconForStep)
            span= title

      h4.small Visualizations


    div.left-right
      h3 Sources

      ul.list
        each allSources
          li
            div.icon
              i.entypo.cloud.large
            small
              = title
            button.add-source Add

      h3 Processing

      h3 Visualizations